.main__panel {
  border-radius: 0.375rem;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
}

.main__pageviews {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.main__billing {
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1.15;
  color: #293356;
  margin-bottom: 1.5rem;
}

.main__billingbottom {
  margin-bottom: 1.5rem;
}

.main__images {
  height: 10px;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.main__subscription {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-bottom: 1rem;
}

.main__description {
  font-size: 0.675rem;
  font-weight: 600;
  color: #858fad;
  font-family: 'Manrope', sans-serif;
}

.main__items {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.main__item {
  margin-bottom: 10px;
}

.main button, .main .bigbutton {
  background-color: #293356;
  border: none;
  color: #bdccff;
  font-size: 0.675rem;
  font-weight: 600;
  padding: 3px 7px;
  width: 140px;
  height: 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
  margin-top: 0.75rem;
  margin-bottom: 1.6rem;
  opacity: 0.75;
}

.main button:hover, .main .bigbutton:hover {
  color: #cdd7ee;
  opacity: 1;
  cursor: pointer;
}

.main button, .main .button {
  background-color: #feece7;
  border: none;
  color: #ff8c66;
  font-size: 0.675rem;
  font-weight: 600;
  padding: 3px 7px;
  width: 40px;
  height: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 5px;
  border-radius: 10px;
}
